*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
}
/* navbar-logo*/
.navbar{
    height: 60px;
    width: 100%;
    background-color: #0f1111;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    

}

.logo1{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
    margin-bottom: 3px;

}

.border{
    border:1px solid transparent;
}

.border:hover{
    border:1px solid white;
    cursor: pointer;
    border-radius: 4px;
}

/* add-navbar */
.add:hover{
    border: 1px solid white;
}
.addmargin{
    margin-left: 15px;
}
.add-first{
    color:#cccccc;
    font-size: 12px;
}
.add-sec{
    color:white;
    font-size: 14px;
    display: flex;
}
/* search-navbar */
.search-bar{
    
    width: 620px;
    height: 40px;
    display: flex;
    border-radius: 4px;
    justify-content: space-evenly;
    margin-left: 20px;

}
.inputselect{
    background-color: #f3f3f3;
    width:50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;
    cursor: pointer;
    color:#0f1111;
    font-weight: bold;

}
.inputselect:active{
    border: 2px solid white;
}
.search{
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    border: none;
    color:#0f1111;
    
}
.search-bar:hover{
    border: 3px solid orange;
    box-shadow:20px;
}
.search-icon{
    width: 45px;
    background-color:orange;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;
    cursor: pointer;
    font-size: 1.3rem;
    color: #0f1111;
}
/* india-logo */
.india{
    display: flex;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
/* .border:hover{
    border: 1px solid white;
    
              
} */

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-weight: bolder;
    margin-left: 2px;
}
.india-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.select1{
    background: none;
    border: none;
    color: white;
}
.nav-text{
    margin-left: 20px;
}
span{
    color: white;
    font-size: 12px;
}
.text-nav{
    color:white;
    font-weight: 700;
    font-size: 14px;
}
/* car-nav */
.cart-nav{
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .cart{
    color:white;
    font-size: 35px;
} */
.cart-img{
    width: 40px;
    height: 35px;
}
.basket1{
    color:white;
    font-size: 15px;
    margin-top: 22px;
    font-weight: bolder;

}
.basket{
    width: 50px;
    height: 50px;
}

/* second bar */
.pannel{
    width: 100%;
    height: 40px;
    background-color: #222f3d;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    
}
.pannel-All{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#ffffff;
    font-size: 14px;
    font-weight: bold;
    font-size: 25px;
    
}
.pannel-text{
    color:#ffffff;
    font-size: 14px;
    text-transform:capitalize;
    
}
a{
    text-decoration: none;
}
/* hero section */
.hero-img{
    height: 350px;
    background-image: url(hero_image.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
}
.hero-mgs{
    background-color: #ffffff;
    height: 40px;
    color: #0f1111;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    width: 80%;
    border-radius: 4px;
    text-transform: capitalize;
}
/* shop section */
.shop{
      display: flex;
      justify-content: space-evenly;
      background-color: #e2e7e6;
      cursor: pointer;
}
.box{
    width: 23%;
    height: 300px;
    color: black;
    /* border:2px solid black; */
    background-color: white;
    padding: 12px 5px 5px 5px;
    margin-top: 5px;
}
.box-img{
    background-image: url(box1_image.jpg);
    background-size: cover;
    height:230px;
    width:280px
    
}
.box-img2{
    background-image: url(box3_image.jpg);
    background-size: cover;
    height:230px;
    width:280px
    
}
.box-img3{
    background-image: url(box4_image.jpg);
    background-size: cover;
    height:230px;
    width:280px
    
}
.shop-items{
   
   
}
.div-flex1{
    height: 105px;
    width: 285px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.div-flex2{
    height: 105px;
    width: 285px;
    /* border:1px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box-flex-img1{
    background-image: url(box2_image.jpg);
    background-size: cover;
    height: 90px;
    width: 120px;
    margin-left: 2px;
    margin-top: 1px;
}
.box-flex-img2{
    background-image: url(box3_image.jpg);
    background-size: cover;
    height: 90px;
    width: 120px;
    margin-right: 2px;
    margin-top:1px;
}
.box-flex-img3{
    background-image: url(box4_image.jpg);
    background-size: cover;
    height: 90px;
    width: 120px;
    margin-right: 2px;
    margin-top:1px;
}

.box-flex-img4{
    background-image: url(box5_image.jpg);
    background-size: cover;
    height: 90px;
    width: 120px;
    margin-right: 2px;
    margin-top:1px;
}
/* shop1 section */
.shop1{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    cursor: pointer;
}
.box1{
    width: 23%;
    height: 300px;
    color: black;
    /* border:2px solid black; */
    background-color: white;
    padding: 12px 5px 5px 5px;
    margin-top: 5px;
}
.box-img5{
    background-image: url(box5_image.jpg);
    background-size: cover;
    height:230px;
    width:280px
    
}
.box-img7{
    background-image: url(box7_image.jpg);
    background-size: cover;
    height:230px;
    width:280px
    
}
.box-img8{
    background-image: url(box8_image.jpg);
    background-size: cover;
    height:230px;
    width:280px
    
}
.div-flex11{
    height: 105px;
    width: 285px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.div-flex12{
    height: 105px;
    width: 285px;
    /* border:1px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box-flex-img5{
    background-image: url(box5_image.jpg);
    background-size: cover;
    height: 90px;
    width: 120px;
    margin-left: 2px;
    margin-top: 1px;
}
.box-flex-img6{
    background-image: url(box6_image.jpg);
    background-size: cover;
    height: 90px;
    width: 120px;
    margin-right: 2px;
    margin-top:1px;
}
.box-flex-img7{
    background-image: url(box7_image.jpg);
    background-size: cover;
    height: 90px;
    width: 120px;
    margin-right: 2px;
    margin-top:1px;
}

.box-flex-img8{
    background-image: url(box8_image.jpg);
    background-size: cover;
    height: 90px;
    width: 120px;
    margin-right: 2px;
    margin-top:1px;
}
/* footer section */
#back-to-top{
    color:white;
    margin-top: 5px;
}
.foot-text:hover{
    background-color: #2a3441ce;
}
.foot-text{
    background-color: #37475a;
    cursor: pointer;
    width: ;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}
.foot-text1{
    background-color: #222f3d;
    color: white;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}
ul{
    margin-top: 40px;
    
}
#bold{
    font-size: 18px;
    font-weight: bolder;
}
ul a{
    display: block;
    color: #dddddd;
    justify-content: center;
    margin-top: 10px;
    font-size: 0.85rem;

}
.foot2{
    height: 120px;
    background-color: #222f3d;
    border-top: 0.5px solid white;
    display: flex;
    justify-content: center;

}
.earth{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:45px;
    border: 0.5px solid white;
    height: 40px;
    width: 120px;
    border-radius: 5px;
}

.hero-img-10{
    margin-top:40px;
    /* border: #cccccc 1px solid; */
    width: 250px;
    height: 90px;
}
.main-last-link{
    width: 100%;
    height: 100px;
    background-color: #222f3d;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* margin-top: 0%; */
    cursor: pointer;
}
.last-link{
    width: 80%;
    height: 100px;
    /* background-color:#222f3d; */
    display: flex;
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-top: 0%; */

}
.asaan_hai{
    text-align: center;
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 30px;
    /* margin-top: 0%; */
    line-height: 0%;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 200;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* @media(max-width:500px){
    .foot-text1{
        display: block;
        background-color: aqua;

    }
    ul a{
        color: red;
    }
} */

.copy{
    height: 40px;
    background-color:#131a22;
    color:#dddddd;
    text-align: center;
    
}
.copy1{
    color: #dddddd;
}
.babu-bhaiya{
    height: 100px;
    background-color: #131a22;
    color: #cccccc;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}
.babu-bhaiya-child1{
    /* border: 1px solid red; */
    width: 150px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    color: #b5c1ce;
}
.babu-bhaiya-child2{
    /* border: 1px solid red; */
    width: 180px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    color: #b5c1ce;
}.babu-bhaiya-child3{
    /* border: 1px solid red; */
    width: 150px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    color: #b5c1ce;
}.babu-bhaiya-child4{
    /* border: 1px solid red; */
    width: 150px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    color: #b5c1ce;
}
.bold{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 0%;

}

/* next */

.reload_button{
    background-color:#131a22;
    color: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.click_button{
    background-color: blueviolet;
    height: 45px;
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 0px 8px 0px;
    margin: 10px;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 3px 3px 3px 5px  lightskyblue;
    border: 2px solid black;

}
.click_button:hover{
    background-color:rgb(80, 67, 92) ;
    color: yellow;
}

